.imageContainer{
    display: flex;
    align-items:baseline;
    justify-content: center;
}
.imagenCont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderArrow{
    font-size: 25px;
    margin:5px;
    cursor: pointer;
    align-self: center;
}