.accMan{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accManContainer{
    width: 100%;
    display: flex;
    max-width: 1024px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    color: #244C2E;
    flex: 1;
}

.accManItemContainer{
    width: 300px;
    height: 200px;
    background-color: #B8F5C7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #244C2E;
    -webkit-box-shadow: 0px 0px 5px 0px #244C2E;
    -moz-box-shadow: 0px 0px 5px 0px #244C2E;  
}



.accManItemContainer>a{
    color: #244C2E;
    text-decoration: none;
    text-align: center;
    height: 50%;
}