.divContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.featuredPetsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    overflow: hidden;
}

.featuredPetsTitle{
    color:#244c2e;
    text-align: center;
}

.featuredPetList{
    width: 100%;
    max-width: 1024px;
    height:auto;
    display: flex;
    gap: 20px;
    align-items: center;

    
}

.featuredPetItem{
    height: 300px;
    min-width: 300px;
    position: relative;
    cursor: pointer;

}

.featuredPetImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    pointer-events: none;
}
.featuredPetItem:hover .featuredPetTitles{
    display: none;
}

.featuredPetTitles{
    background-color: rgba(255, 255, 255, 0.555);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    color:#244c2e
}
