
.blurred{
    filter: blur(4px)!important;
    margin-top: 10px;
    position: relative;
    z-index: -1;
}

.blurredContainer{
    height: 210vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}


.blurredCardContainer{
    z-index: 1;
    position: sticky;
    height: 1px;
    width:100%;
    top: 2%;
}