.navbar{
    height:50px;
    background-color: #B8F5C7;
    display:flex;
    justify-content:center;
}
.navLogoLink{
    text-decoration: none;
    color: #244C2E;
}

.navContainer{
    width:100%;
    max-width:1024px;
    color:#244C2E;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}

.navButton{
    background-color: #69DB86;
    height: auto;
    margin-left: 20px;
    border: none;
    padding: 9px 15px;
    cursor: pointer;
    color: #244C2E;
    font-size: 14px;

    /* border-radius: 10px; */
}

.navButton:hover {
    transition: all 0.2s;
    transform: scale(1.02);
  }

  .navIcon{
    font-size: 15px;
    color: rgb(247, 0, 255)
    /* (235, 5, 235) */
  }