.map{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
}

.mapSearchBar{
    width: 20%;
    background-color: white;
    height: 100vh;
}

.mapSearchBar>h2{
    color: black;
}

.mapGoogle{
    width: 80%;
    height: 100vh;
}

.mapGoogleAPI{
    width: 100%;
    height: 100%;
}