.petContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.petDetails{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
}
.petImg{
    border-radius: 10px;
    height:350px;
    width:auto;
}

.descContainer{
    width: 50%;
}

.petDetails>h1{
    justify-self: center;
}

.petDescription{
    font-size: 17px;
    margin-bottom: 25px;
}

.arrowBack{
    align-self: baseline;
    font-size: 30px;
    color: black;
}

