.petContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.petDetails{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 50px;
}
.petImg{
    border-radius: 10px;
    height:400px;
    width:400px;
    object-fit: cover;

}

.descContainer{
    width: 50%;
}

.petDetails>h1{
    justify-self: center;
}

.petDescription{
    font-size: 17px;
    margin-bottom: 25px;
}

.arrowBack{
    align-self: baseline;
    font-size: 30px;
    color: black;
}

.chatBtn{
    height:fit-content;
}

/* .sliderContainer{
    width: 300px;
    height: 300px
} */

.skeletonPetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.skeletonPet{
    width: 100%;
    max-width: 800px;

}


